/* --- Lightbox Overlay --- */
#lightboxOverlay {
  display: flex;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Fond sombre semi-transparent */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;

  /* Conteneur de la Lightbox */
  #lightboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* Section de fermeture */
    .lightboxTop {
      display: flex;
      position: fixed;
      width: 100%;
      height: 25px;
      justify-content: flex-end;
      margin-right: 7%;
      top: 7%;
      z-index: 12;

      #lightboxClose {
        cursor: pointer;
      }
    }

    /* Flèches de navigation */
    .lightboxGlobal {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .arrowLightbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        gap: 10px;
        text-decoration: none;
        cursor: pointer;

        img {
          width: 25px;
        }

        p {
          color: white;
          font-family: "Space Mono";
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
          user-select: none;
          -moz-user-select: none;
        }

        &:hover {
          img {
            width: 34px; /* Agrandir l'image au survol */
          }

          p {
            font-weight: 700; /* Mettre en gras au survol */
          }
        }
      }
    }
  }
}

/* --- Affichage de l'image dans la lightbox --- */
.lightboxDisplayImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Hauteur de l'image dans la lightbox */
  max-width: 70%; /* Limite de la largeur */
  margin: 0 10px;

  img {
    max-width: 100%; /* S'adapte à la largeur du conteneur */
    width: auto;
    max-height: 100%; /* Ne dépasse pas la hauteur du conteneur */
    height: auto;
  }

  .lightboxLink {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    padding-top: 15px;

    p {
      color: white;
      font-size: 14px;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}

/* --- Masquage de la lightbox par défaut --- */
.showNow {
  display: none !important;
}

/* --- Styles des éléments photo sur la page principale --- */

/* Conteneur des photos */
.homePhoto-item {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* L'overlay qui recouvre l'image */
.photoCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fond sombre transparent */
  display: none;  /* Masqué par défaut */
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}

/* Afficher l'overlay au survol de l'image */
.homePhoto-item:hover .photoCard {
  display: flex; /* L'overlay devient visible */
}

/* Centrage de l'icône au centre de l'image */
.photoCardIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrage de l'icône */
}

/* Positionner l'icône de fermeture dans le coin supérieur droit */
.photoCardLightbox {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* Texte dans l'overlay */
.photoCardText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
  padding-right: 25px;
  padding-left: 5px;

  p {
    margin: 0;
    font-size: 14px;
  }
}

/* --- Boutons de type bouton sans style par défaut --- */
button {
  background-color: transparent;
  border: none;
}
