#lightboxOverlay {
  display: flex;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  #lightboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .lightboxTop {
      display: flex;
      position: fixed;
      width: 100%;
      height: 25px;
      justify-content: flex-end;
      margin-right: 7%;
      top: 7%;
      z-index: 12;
      #lightboxClose {
        cursor: pointer;
      }
    }
    .lightboxGlobal {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .arrowLightbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        gap: 10px;
        text-decoration: none;
        cursor: pointer;
        img {
          width: 25px;
        }
        p {
          color: white;
          font-family: "Space Mono";
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
        }
        &:hover {
          img {
            width: 34px;
          }
          p {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.lightboxDisplayImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  max-width: 70%;
  margin: 0 10px;
  img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
  }
  .lightboxLink {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    padding-top: 15px;
    p {
      color: white;
      font-size: 14px;
      font-family: "Poppins", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
  }
}

.showNow {
  display: none !important;
}
