* {
  box-sizing: border-box;
}

@import "fonts";

@import "header-footer";

@import "animations";

@import "modale";

@import "single-photo";

@import "home-page";

@import "lightbox";

html {
  background-color: #e0e0e0; /* Gris clair, un peu plus foncé */
}

body {
  background-color: white;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Space Mono", monospace, Arial, Helvetica, sans-serif;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 160px);
  max-width: 1440px;
  margin: 0 auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
}

// Pour cacher des éléments
.hiddenNow {
  display: none;
}